<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    id="list1"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="['list2', 'list3']"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    id="list2"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="['list1', 'list3']"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    id="list3"
    [cdkDropListData]="thirdArray"
    [cdkDropListConnectedTo]="['list1', 'list2']"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of thirdArray" cdkDrag>{{item}}</div>
  </div>
</div>


<h1>Now we will test dyniamic adding of</h1>

<button (click)="addArray()">Add Array</button>

<div>
<div *ngFor="let item of containerArray; let i = index" class="example-container">
  <div cdkDropList
      id="{{'item-' + i}}"
      [cdkDropListData]="item"
      [cdkDropListConnectedTo]="createDynamicConnectedList(i)"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
  >
    <div class="deleting_section"><button (click)="deleteItem(i)">Удалить</button></div>
    <div class="example-box" *ngFor="let el of item" cdkDrag>{{el}}</div>
  </div>
</div>
</div>




<div>
  <span *ngFor="let item of containerArray">
    ( <span *ngFor="let i of item">{{i}}</span> )
  </span>
</div>

<h1>Test copying feature</h1>

<div class="example-container">
  <div cdkDropList
    id="copy1"
    [cdkDropListData]="copyArr1"
    [cdkDropListConnectedTo]="['copy2']"
    class="example-list"
  >
    <div class="example-box" *ngFor="let el of copyArr1" cdkDrag>{{el}}</div>
  </div>
</div>

<div class="example-container">
    <div cdkDropList
    id="copy2"
    [cdkDropListData]="copyArr2"
    class="example-list"
    (cdkDropListDropped)="drop2($event)"
  >
    <div class="example-box" *ngFor="let el of copyArr2" cdkDrag>{{el}}</div>
  </div>
</div> -->

<h1>drag and drop - tree creation</h1>

<button (click)="addContainer()">Add container</button>

<div class="main">
  <app-contructor-item [data]="treeArray"></app-contructor-item>
</div>


<router-outlet></router-outlet>
